-r wagtailbase/requirements.txt
-r ddhldap-django/requirements.txt
django-grappelli
django-haystack
django-model-utils
django-redis
django-require
elasticsearch
#mysql-python
mysqlclient
pillow
redis
south
django-autocomplete-light==3.0.4
simplejson


