{% load static %}

<div class="row">
	<div class="small-6 columns">
	<div class="row">
	<div class="medium-3 columns">
			<div class="logo">
				<a href="//www.kcl.ac.uk/artshums/digitallab/" title="King's Digital Lab">
  				<img src="/static/images/KCL-KDL-logo-BW.svg"></a>
			</div>
	</div>	
        <div class="medium-3 columns">
                	<div class="logo">
                        	<a href="http://www.societyforlibyanstudies.org/" title="Society for Libyan Studies">
                        	<img src="/static/images/SLS_logo.png"></a>
                	</div>
	</div>
        <div class="medium-3 columns">
                        <div class="logo">
                                <a href="https://www.leverhulme.ac.uk/" title="Leverhulme Trust">
                                <img src="/static/images/leverhulme.png"></a>
                        </div>
        </div>
        <div class="medium-3 columns">
                        <div class="logo">
                                <a href="//www.kcl.ac.uk/artshums/digitallab/" title="King's Digital Lab">
                                <img src="/static/images/leventis.jpg"></a>
                        </div>
        </div>
	</div><!-- end row -->
	</div><!-- end small-6 -->


  <div class="small-6 columns text-right">
    <p>&copy; 2015 King's Digital Humanities &amp; King's Digital Lab</p>
		<p>This work is licensed under a <a href="//creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a></p>
		<a href="//creativecommons.org/licenses/by-nc-sa/4.0/"><img src="/static/images/CC-88x31.png"></a>
  </div>
</div>
