{% load staticfiles %}

<div class="row">
  <div class="large-12 columns">
    <div class="title-bar" data-responsive-toggle="hgl-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="hgl-menu">
      <div class="top-bar-left">
        <ul class="vertical medium-horizontal menu">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/search/">Advanced search</a></li>
          <li><a href="/project/">Project</a></li>
          <li><a href="/sources/">Sources</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
      </div>
    </div>
  </div>
</div>