{% extends 'wagtailbase/base.html' %}
{% load wagtailcore_tags wagtailbase_tags staticfiles compress require %}

{% block meta_title %}Advanced search{% endblock %}

{% block extra_head %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'vendor/leaflet/dist/leaflet.css' %}">

<link rel="stylesheet" type="text/x-scss" href="{% static 'vendor/markercluster/MarkerCluster.Default.css' %}">
{% endcompress %}
{% endblock %}

{% block title %}<h1>Search Archive</h1>{% endblock %}

{% block main %}
{{ block.super }}
<div class="off-canvas-wrapper">
	<h2><em><a href="/browse"> Browse archive &raquo; </a><em></h2>
	<!--<button type="button" class="button" data-toggle="offCanvas"><i class="fa fa-cog"></i> Search options</button>-->
	<div class="off-canvas-wrapper-inner  off-canvas-wrapper-inner is-off-canvas-open is-open-left" data-off-canvas-wrapper>
		<div class="off-canvas position-left filter-options" id="offCanvas" data-off-canvas>
			<h3>Refine your search</h3>
	                    
	        <form method="get" action=".">
				<ul class="menu">
					<li><input id="id_q" name="q" type="search" placeholder="Text ..."></li>
					<li><input type="submit" class="button" value="Search"></input></li>
				</ul>
	        </form>

	    </div
		<div class="off-canvas-content" data-off-canvas-content>

			<h2>Search results <span class="badge">{{ paginator.count }}</span></h2>


	        
	        {% if query or paginator.count > 0 %}
			<p><em>Showing <strong>{{ page.start_index }}-{{ page.end_index }}</strong> results of <strong>{{ paginator.count }}</strong></em></p> 
	        {% include 'wagtailbase/includes/pagination.html' %}

			<div id="list-results">
	            <ul start="{{ page.start_index }}">
	            	{% for result in page.object_list %}
	                <li><a href="/cat_item/{{ result.object.id }}">{{ result.object.unittitle }}</a></li>
	            	{% empty %}
	            	<li>No results found.</li>
	            	{% endfor %}
	            </ul>
			</div>

	        {% include 'wagtailbase/includes/pagination.html' %}
	        
	        {% else %}
	        {# Show some example queries to run, maybe query syntax, something else? #}
	        {% endif %}
	    </div>
	</div><!-- /.off-canvas-wrapper-inner -->
</div><!-- /.off-canvas-wrapper -->
{% endblock %}

{% block extra_footer %}

{% endblock %}
