{% extends 'wagtailbase/base.html' %}
{% load wagtailcore_tags wagtailbase_tags static compress require %}

{% block meta_title %}Log in{% endblock %}

{% block extra_head %} 
{% endblock %}

{% block title %}<h1>Login</h1>{% endblock %}

{% block main %}
<div class="row">
	<div class="large-4 large-offset-4 columns">
		<form id="login_form" action="/login/" method="post">
	        {% csrf_token %}
			{{ form.as_p }}
			<input class="button expanded" type="submit" value="Log in">
		</form>
	</div>
</div>
{% endblock %}

{% block extra_footer %}

{% endblock %}
