{% extends "wagtailbase/base.html" %}
{% load static compress require %}

{% block extra_head %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'vendor/leaflet/dist/leaflet.css' %}">
{% endcompress %}

{% compress js %}
  <script src="https://maps.google.com/maps/api/js?v=3"></script>
<script src="{% static 'vendor/leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'vendor/Google.js'%}"></script>
<script src="{% static 'js/map.js' %}"></script>
{% endcompress %}
{% endblock %}

{% block main %}

<div id="map">Here be maps!</div>
{{ block.super }}

{% block related_links %}
{% include "wagtailbase/includes/related_links.html" with related_links=self.related_links.all title="Related links" %}

{% endblock %}

{% block attachments %}
{% include "wagtailbase/includes/attachments.html" with attachments=self.attachments.all title="Attachments" %}
{% endblock %}

{% endblock %}
