{% extends 'wagtailbase/base.html' %}
{% load wagtailcore_tags wagtailbase_tags staticfiles compress require %}

{% block meta_title %}{{self.title}}{% endblock %}

{% block extra_head %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'vendor/leaflet/dist/leaflet.css' %}">
{% endcompress %}
{% endblock %}

{% block title %}<h1>{{self.title}}</h1>{% endblock %}

{% block main %}
<div class="row">
	<div class="large-6 columns">
		<div class="coordinates">
			<h3><i class="fa fa-map-marker"></i> Coordinates</h3>
			<div class="row">
				<div class="large-4 columns">
					<p><strong>Latitude:</strong> 32.9010000</p>
				</div>
				<div class="large-4 columns">
					<p><strong>Longitude:</strong> 21.9710000</p>
				</div>
				<div class="large-4 columns">
					<p><strong>Height:</strong> 1.0000000</p>
				</div>
			</div>
		</div>

		<div id="map">Here be maps!</div>

		<h3>Pleiades URI</h3>
		<p><a href="http://pleiades.stoa.org/places/373732" class="ext-links">http://pleiades.stoa.org/places/373732</a></p>

		<h3>Geonames ID</h3>
		<p>81584</p>
	</div>
	<div class="large-6 columns">
		<h3>Feature type(s)</h3>
		<p>Polis</p>

		<h3>Variant names</h3>
		<ol>
			<li>سوسة</li>
			<li>مرسى سوسة</li>
			<li>Apollonia</li>
			<li>Apollonie</li>
			<li>Appolonia</li>
			<li>M&agrave;rsa S&ugrave;sa</li>
			<li>Mars&aacute; Sūsah</li>
			<li>Marsa Susa</li>
			<li>Marsa Susah</li>
			<li>Marza-Souza</li>
			<li>Port of Cyrene</li>
			<li>Sūsah</li>
			<li>Susa</li>
			<li>Suza</li>
		</ol>

		<h3>Relationships with other locations <a href="#"><i class="fa fa-question-circle"></i></a></h3>

		<h4>Related locations <a href="#"><i class="fa fa-question-circle"></i></a></h4>
		<ul>
			<li><em>Forms part of</em> <strong><a href="#">Cyrenaica</a></strong></li>
			<li><em>Adjacent to</em> <strong><a href="#">Cyrene</a></strong></li>
		</ul>

		<h4>Inverted related locations <a href="#"><i class="fa fa-question-circle"></i></a></h4>
		<p><strong>Form part of &lt;RECORD_NAME&gt;:</strong></p>
		<ul>
			<li><a href="#">Area west of East Church</a></li>
			<li><a href="#">East Church</a></li>
			<li>...</li>
		</ul>

		<div class="notes">
			<h3><i class="fa fa-edit"></i> Notes</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_footer %}
{% compress js %}
<script src="{% static 'vendor/leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'vendor/leaflet-draw/dist/leaflet.draw.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
{% endcompress %}
{% endblock %}
