{% extends 'wagtailbase/base.html' %}
{% load wagtailcore_tags wagtailbase_tags static compress require %}

{% block meta_title %}{{record.name}}{% endblock %}

{% block extra_head %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'vendor/leaflet/dist/leaflet.css' %}">
{% endcompress %}
{% endblock %}

{% block main %}
<div class="row">
	<div class="large-12 columns">
            <div id="thumbs" class="row">
            </div>
		<h3>Unit title</h3>
			<p>{{ record.unittitle|safe }} {% if record.parent %}< {{ record.parent.unittitle }} {% endif %}
			{% if record.parent.parent %}< {{ record.parent.parent.unittitle }} {% endif %}
			{% if record.parent.parent.parent %}< {{ record.parent.parent.parent.unittitle }} {% endif %}
			{% if record.parent.parent.parent.parent %}< {{ record.parent.parent.parent..parent.unittitle }} {% endif %}
			</p>
    
		<h3>Type</h3>
			<p>
			{{ record.level }}
		        </p>
		</div>

		<h4>Contains <button data-toggle="rel-locations-dropdown"><i class="fa fa-question-circle"></i></button></h4>
		<ul class="long-list">
            {% for r in record.child.all %}
			<li>{{record.name}} <em>{{ r.related_locus_type.name }}</em> <strong><a href="/{{ r.obj.id }}">{{ r.obj.name }}</a></strong></li>
            {% endfor %}
		</ul>

	    {# if record.parent.all #}

		<h4>Child features <button data-toggle="inverted-rel-locations-dropdown"><i class="fa fa-question-circle"></i></button></h4>
		<div class="dropdown-pane" id="inverted-rel-locations-dropdown" data-dropdown data-auto-focus="true">
			<h4><i class="fa fa-question-circle"></i> Inverted related locations</h4>
These are locations contained within the location – these may, for example be monuments within a settlement, or zones within a city
		</div>

		{% if request.user.is_authenticated %}

	    <a id="add-child" data-open="add-child-modal" class="button">Add child location</a>


		<div class="reveal" id="add-child-modal"  style="position:relative;" data-reveal>
			<div id="child-selections"></div>
		</div>

	    {% endif %}
		
             {% if record.parent.all %}
		<p><em>The locations below are contained within</em> <strong>{{ record.name }}</strong></p>
		<ul class="long-list">
            {% for r in record.parent.all %}
            <li><a href="/{{ r.subject.id }}">{{ r.subject.name }}</a></li>            
            {% endfor %}
		</ul>
		<button class="button secondary show-more">Show more</button>
              {% endif %}
	{# endif #}

        {% if record.note %}
		<div class="notes">
			<h3><i class="fa fa-edit"></i> Notes</h3>
			<p>{{ record.note }}</p>
		</div>
        {% endif %}
        
        
        
        
	</div>
</div>


			<div class="reveal" id="add-variant-modal" style="position:relative;" data-reveal>
				
			</div>
            
            <div class="reveal" id="uri-modal" style="position:relative;" data-reveal>
                <h3>Copy URI to clipboard</h3>
                <!--<input id="uri-input" type="text" value="www.slsgazetteer.org/irt_geo/recordview/?id={{ record.id }}"></input>-->
                <input id="uri-input" type="text" value="www.slsgazetteer.org/{{ record.id }}"></input>
            </div>



            <div class="reveal photo-modal" id="photo-modal" style="position:relative;" data-reveal>
                
            </div>

{% endblock %}

{% block extra_footer %}
{% compress js %}
{% endcompress %}
{% endblock %}
