{% extends 'wagtailbase/base.html' %}
{% load wagtailcore_tags wagtailbase_tags staticfiles compress require %}

{% block meta_title %}{{record.name}}{% endblock %}

{% block extra_head %} 
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'vendor/leaflet/dist/leaflet.css' %}">
{% endcompress %}
{% endblock %}

{% block title %}<h1>{{record.name}}</h1>{% endblock %}

{% block main %}
<div class="row">
	<div class="large-6 columns">
		<div class="coordinates">
			<h3><i class="fa fa-map-marker"></i> Coordinates</h3>
            {% for l in record.locus_coordinate.all %}            
			<div class="row">
				<div class="large-4 columns">
					<p><strong>Latitude:</strong> {{ l.point.y }}</p>
				</div>
				<div class="large-4 columns">
					<p><strong>Longitude:</strong> {{ l.point.x}}</p>
				</div>
				<div class="large-4 columns">
					<p><strong>Height:</strong> {{ l.height }}</p>
				</div>
			</div>
			<p><strong>Provencance:</strong> {{ l.heritage }}</p>
            {% endfor %}
		</div>

		<div id="map">Here be maps!</div>

        {% if record.pleiades_uri %}
		<h3>Pleiades URI</h3>
		<p><a href="{{ record.pleiades_uri }}" class="ext-links">{{ record.pleiades_uri }}</a></p>
        {% endif %}
        {% if record.geonames_id %}
		<h3>Geonames ID</h3>
        <p><a href="http://www.geonames.org/{{ record.geonames_id }}" class="ext-links">http://www.geonames.org/{{ record.geonames_id }}</a></p>
        {% endif %}        
	</div>
	<div class="large-6 columns">
		<h3>Feature type(s)</h3>
        {% for f in record.featuretype_fk.all %}
		<p>{{ f.description }}</p>
        {% endfor %}
		<h3>Variant names</h3>
		<ol>
            {% for v in record.variants.all %}
			<li>{{ v.name }}{% if v.language %} ({{ v.language.en_name }}){% endif %}</li>
            {% endfor %}
		</ol>

		<h3>Relationships with other locations <a href="#"><i class="fa fa-question-circle"></i></a></h3>

		<h4>Related locations <a href="#"><i class="fa fa-question-circle"></i></a></h4>
		<ul>
            {% for r in record.child.all %}
			<li><em>{{ r.related_locus_type.name }}</em> <strong><a href="/irt_geo/recordview/?id={{ r.obj.id }}">{{ r.obj.name }}</a></strong></li>
            {% endfor %}
		</ul>

		<h4>Inverted related locations <a href="#"><i class="fa fa-question-circle"></i></a></h4>
		<p><strong>Form part of {{ record.name }}:</strong></p>
		<ul>
            {% for r in record.parent.all %}        
            <li><a href="/irt_geo/recordview/?id={{ r.subject.id }}">{{ r.subject.name }}</a></li>            
            {% endfor %}
		</ul>

        {% if record.note %}
		<div class="notes">
			<h3><i class="fa fa-edit"></i> Notes</h3>
			<p>{{ record.note }}</p>
		</div>
        {% endif %}
	</div>
</div>
{% endblock %}

{% block extra_footer %}
{% compress js %}
<script src="{% static 'vendor/leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'vendor/leaflet-draw/dist/leaflet.draw.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>

{% endcompress %}
<script>
$(document).ready(function(){
	L.Icon.Default.imagePath = "{% static 'vendor/leaflet/dist/images' %}";
    {% for l in record.locus_coordinate.all %}
    {% if forloop.first %}
        var m = L.marker([{{ l.point.x }},{{ l.point.y }}]).addTo(map);
        map.setView([{{ l.point.x }},{{ l.point.y }}],6);

    {% endif %}
    {% endfor %}
    {% if not record.locus_coordinate.all or record.parent.all %}
            // Probably no coordinates, in which case, we can try to draw a convex hull
        $.ajax('/irt_geo/convex-hull/?parent={{ record.id}}',
            {
            success:function(data){
                var hull = new L.geoJson(data).addTo(map);
                map.fitBounds(hull.getBounds());
                map.setZoom( (map.getZoom() - 2 ) );
                }
            }
        )
    {% endif %}  
})
</script>
{% endblock %}