{% extends 'wagtailbase/base.html' %}
{% load wagtailcore_tags wagtailbase_tags staticfiles compress require %}

{% block meta_title %}{{record.name}}{% endblock %}

{% block extra_head %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'vendor/leaflet/dist/leaflet.css' %}">
{% endcompress %}
{% endblock %}

{% block title %}<h1>{{record.name}}</h1>
<h4><a id="show-uri-modal" href="#" data-reveal-id="show-uri-modal">URI<i class="fa fa-share"></i></a></h4>



{% endblock %}




{% block main %}
<div class="row">
	<div class="large-6 columns">
		<div class="coordinates">
			<h3><i class="fa fa-map-marker"></i> Coordinates</h3>
            <!--<a href="/export/locus/{{ record.id }}" target="_blank" class="button tiny radius">GeoJSON</a>-->            
            {% for l in record.locus_coordinate.all %}
			<div class="row">
            	<div class="row">
				<div class="large-8 columns">
					<p><strong>Latitude:</strong> {{ l.point.y }}, <strong>Longitude:</strong> {{ l.point.x}}{% if l.height %}
					, <strong>Altitude:</strong> {{ l.height|floatformat }}m{% endif%}</p>
                    <!--<p><strong>Longitude:</strong> {{ l.point.x}}</p>-->
				</div>
                <!--
				<div class="large-4 columns">
					<p><strong>Longitude:</strong> {{ l.point.x}}</p>
				</div>
                -->
				<div class="large-4 columns">
					<!--<p><strong>Height:</strong> {{ l.height }}</p>-->
                    <p><strong>Provenance:</strong> {{ l.heritage }}</p>
				</div>
                </div>
                <div class="row" style="height:2px;">
                </div>                
                <!--
                <div class="row">
                <div class="large-12 columns"><p><strong>Provenance:</strong> {{ l.heritage }}</p></div>
                </div>
                <div class="row" style="height:2px;">
                </div>
                -->
			</div>
			
            {% empty %}            
                <p>No specific coordinates recorded for this feature</p>
            {% endfor %}
		</div>

		<div id="map">Here be maps!</div>


{% if record.externaluri_set.all %}
<h4>External URIs</h4>
{% for u in record.externaluri_set.all %}
<p><a href="{{ u.uri }}" class="ext-links">{{ u.uri }}</a></p>

{% endfor %}
{% endif %}

                    {% if request.user.is_authenticated %}

                    <a id="add-uri" data-open="add-uri-modal" class="button">Add external URI</a>

                        <div class="reveal" id="add-uri-modal"  style="position:relative;" data-reveal>
                                <div id="parent-selections"></div>
                        </div>

                    {% endif %}


	</div><!-- end map -->
	<div class="large-6 columns">
            <div id="thumbs" class="row">
            </div>
		<h3>Variant names</h3>
        
                            {% if request.user.is_authenticated %}
                            <a id="add-variant" data-open="add-variant-modal" class="button">Add variant name</a>
                            {% endif %}        
            
		<ul class="long-list">
	    	    
        
            {% for v in record.variants.all|dictsort:"language" %}
			{% if v.language.en_name = "Arabic"%}
			<li>{{ v.name }}{% if v.language %} ({{ v.language.en_name }}){% endif %}</li>
			{% else %}
			{% endif %}
            {% endfor %}

            {% for v in record.variants.all|dictsort:"language" %}
                        {% if v.language.en_name = "Arabic"%}
                        {% else %}
			<li>{{ v.name }}{% if v.language %} ({{ v.language.en_name }}){% endif %}</li>
			{% endif %}
            {% endfor %}




		</ul>
		<button class="button secondary show-more">Show more</button>    
    
		<h3>Feature type(s)</h3>
		    {% if request.user.is_authenticated %}
		    <a id="add-feature" data-open="add-feature-modal" class="button">Add feature type</a>

			<div class="reveal" id="add-feature-modal"  style="position:relative;" data-reveal>
				<div id="feature-selections"></div>
			</div>        
            {% endif %}
        <p>{% for f in record.featuretype_fk.all %}
		{{ f.description }} {% if forloop.last %}{% else %}, {% endif %}
        {% endfor %}
        </p>

		<h3>Relationships with other locations <button data-toggle="relationships-dropdown"><i class="fa fa-question-circle"></i></button></h3>
		<div class="dropdown-pane" id="relationships-dropdown" data-dropdown data-auto-focus="true">
			<h4><i class="fa fa-question-circle"></i> Relationships with other locations</h4>

			This displays relationships with locations within which the item falls, and relationships which it contains. We only display the immediate relationships, not a full series. If a location falls within Cyrene, we do not also display its relationship to Cyrenaica; similarly, if Cyrene contains the Agora, we do not also display the items within the Agora at the same level.

		</div>

		<h4>Parent features <button data-toggle="rel-locations-dropdown"><i class="fa fa-question-circle"></i></button></h4>
		<div class="dropdown-pane" id="rel-locations-dropdown" data-dropdown data-auto-focus="true">
			<h4><i class="fa fa-question-circle"></i> Related locations</h4>
This is a location within which a location falls. Most of these are conceptual – for example a Roman Province, a Hellenistic Kingdom or the chapter of a book – so many locations have multiple parent locations.
		</div>
		    {% if request.user.is_authenticated %}

		    <a id="add-parent" data-open="add-parent-modal" class="button">Add parent location</a>

			<div class="reveal" id="add-parent-modal"  style="position:relative;" data-reveal>
				<div id="parent-selections"></div>
			</div>

		    {% endif %}

		<ul class="long-list">
            {% for r in record.child.all %}
			<li>{{record.name}} <em>{{ r.related_locus_type.name }}</em> <strong><a href="/{{ r.obj.id }}">{{ r.obj.name }}</a></strong></li>
            {% endfor %}
		</ul>
		<button class="button secondary show-more">Show more</button>

	    {# if record.parent.all #}

		<h4>Child features <button data-toggle="inverted-rel-locations-dropdown"><i class="fa fa-question-circle"></i></button></h4>
		<div class="dropdown-pane" id="inverted-rel-locations-dropdown" data-dropdown data-auto-focus="true">
			<h4><i class="fa fa-question-circle"></i> Inverted related locations</h4>
These are locations contained within the location – these may, for example be monuments within a settlement, or zones within a city
		</div>

		{% if request.user.is_authenticated %}

	    <a id="add-child" data-open="add-child-modal" class="button">Add child location</a>


		<div class="reveal" id="add-child-modal"  style="position:relative;" data-reveal>
			<div id="child-selections"></div>
		</div>

	    {% endif %}
		
             {% if record.parent.all %}
		<p><em>The locations below are contained within</em> <strong>{{ record.name }}</strong></p>
		<ul class="long-list">
            {% for r in record.parent.all %}
            <li><a href="/{{ r.subject.id }}">{{ r.subject.name }}</a></li>            
            {% endfor %}
		</ul>
		<button class="button secondary show-more">Show more</button>
              {% endif %}
	{# endif #}

        {% if record.note %}
		<div class="notes">
			<h3><i class="fa fa-edit"></i> Notes</h3>
			<p>{{ record.note }}</p>
		</div>
        {% endif %}
        
        
        
        
	</div>
</div>


			<div class="reveal" id="add-variant-modal" style="position:relative;" data-reveal>
				
			</div>
            
            <div class="reveal" id="uri-modal" style="position:relative;" data-reveal>
                <h3>Copy URI to clipboard</h3>
                <!--<input id="uri-input" type="text" value="www.slsgazetteer.org/irt_geo/recordview/?id={{ record.id }}"></input>-->
                <input id="uri-input" type="text" value="www.slsgazetteer.org/{{ record.id }}"></input>
            </div>



            <div class="reveal photo-modal" id="photo-modal" style="position:relative;" data-reveal>
                
            </div>

{% endblock %}

{% block extra_footer %}
<script src="https://maps.google.com/maps/api/js?v=3&key=AIzaSyAtcVXdItN9K9_PCf6nAUQriPinrI97CSY"></script>
{% compress js %}
<script src="{% static 'vendor/leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'vendor/leaflet-draw/dist/leaflet.draw.js' %}"></script>
<script src="{% static 'vendor/spin.js/spin.min.js' %}"></script>
<script src="{% static 'vendor/leaflet-spin/leaflet.spin.js' %}"></script>
<script src="{% static 'vendor/Google.js'%}"></script>
<script src="{% static 'js/map.js' %}"></script>
{% endcompress %}
<script>

var flickR;

function jsonFlickrApi(flickrData){
    if (flickrData.photos.total > 0){
        photoUrls = []
        //for (p in flickrData.photos.photo){
        try{
        for (p = 0; 2; p++ ){
            id = flickrData.photos.photo[p]["id"]
            farm = flickrData.photos.photo[p]["farm"]
            secret = flickrData.photos.photo[p]["secret"]
            server = flickrData.photos.photo[p]["server"]
            title = flickrData.photos.photo[p]["title"]
            photoURI = "https://farm" + farm + ".staticflickr.com/" + server + "/" + id + "_" + secret
            $("#thumbs").prepend('<div class="large-4 columns"><a href="#" onclick="showPhotoModal(this' +  
            '); return false;"  data="'+ photoURI + '.jpg" data-title="'+ title
            +'"><span data-tooltip aria-haspopup="true" class="has-tip"' +
            ' title="'+ title +'" data-disable-hover="false" tabindex="1"><img class="thumbnail" style="height:100px;" src="' + photoURI + '_t.jpg"></img></span></a>'
            +'</br><a href="https://www.flickr.com/photos/' + flickrData.photos.photo[p]["owner"] + '/' + id +'">More details &raquo;</a>'
	    + '</div>') 
           
	}}
        catch(err){
		// Probably not enough photos
        }
	// Add a title
        $('#thumbs').before ('<h3>Images from the <strong><a href="https://www.flickr.com/groups/3033343@N24/" target="_blank">HGL Flickr Group</a></strong></h3>')
        // And a little space
        $('#thumbs').after('</br>');
    }
}


$(document).ready(function(){
    // New call to Flickr for JSONP
    $.ajax({
	url:"https://api.flickr.com/services/rest/?method=flickr.photos.search&"+
            "api_key=aca0a85eae34a02fe012c315d5fa2d61&group_id=3033343@N24"+
            "&tags=hgl:{{ record.pk }}&format=json&jsoncallback",
        dataType: "jsonp"
    });





	map.spin(true)
	L.Icon.Default.imagePath = "{% static 'vendor/leaflet/dist/images' %}";
    {% for l in record.locus_coordinate.all %}
    {% if forloop.first %}
        var m = L.marker([{{ l.point.y }},{{ l.point.x }}]).addTo(map);
        map.setView([{{ l.point.y }},{{ l.point.x }}],9);
	map.spin(false)
    {% endif %}
    {% endfor %}
    {% if not record.locus_coordinate.all or record.parent.all %}
            // Probably no coordinates, in which case, we can try to draw a convex hull
        $.ajax('/irt_geo/convex-hull/?parent={{ record.id}}',
            {
            success:function(data){
		if (typeof data.properties !== "undefined"){
                	//var hull = new L.geoJson(data).addTo(map);
                	//map.fitBounds(hull.getBounds());
                }
		else {
			var hull = new L.geoJson(data).addTo(map);
                        map.fitBounds(hull.getBounds());
		}
		map.setZoom( (map.getZoom() - 2 ) );
		map.spin(false)
                }
            }
        );

	{% if record.featuretype = 1 %}
        
        var line;

	$.ajax('/irt_geo/line/?parent={{ record.id }}',
	    {
	     success:function(data){
		line = new L.geoJson(data).addTo(map);
		map.fitBounds(line.getBounds());
                map.setZoom( (map.getZoom() -2 ));	
 		map.spin(false);
		}

	     }
	);

	{% endif %}

    {% endif %}

    $("#add-child").on('click',function(){
    	$.ajax('/get/locus-child/{{ record.id }}',{
    		success:function(data){
    			$('#add-child-modal').html(data);
    		}
    	})
    });

    $("#add-parent").on('click',function(){
    	$.ajax('/get/locus-parent/{{ record.id }}',{
    		success:function(data){
    			$('#add-parent-modal').html(data);
    		}
    	})
    });
    
    $("#add-feature").on('click',function(){
    	$.ajax('/get/features/{{ record.id }}',{
    		success:function(data){
    			$('#add-feature-modal').html(data);
    		}
    	})
    });    
    

    $("#add-uri").on('click',function(){
        $.ajax('/get/uri/{{ record.id }}',{
                success:function(data){
                        $('#add-uri-modal').html(data);
                        $('#add-uri-modal').foundation('close');
                                                $('#add-uri-modal').foundation('open');
                }
        })
    });

    
    
    $("#add-variant").on('click',function(){    
        
        $.ajax('/get/variant/{{ record.id }}',{
		success:function(data){
			$('#add-variant-modal').html(data);

			$('#add-variant-modal').foundation('close');
			                        $('#add-variant-modal').foundation('open');
		}
	})

	


    });    
    

    $('#show-uri-modal').on('click',function(){
    
        var $uriModal = $('#uri-modal');
    
        $uriModal.foundation('open');
        
        
        $('#uri-input').focus();
        $('#uri-input').select();
    })
    
            
});


function showPhotoModal(photo){
    modalHTML = '<div class="large-12 columns">'+
    '<div class="row"><img src="' + $(photo).attr('data') + '"></img></div>' +
    '<div class="row"><span>'+ $(photo).attr('data-title') +'</span></div>' +					
    '</div>'
    $('#photo-modal').html(modalHTML);
    $photoModal = $('#photo-modal');
  
   $photoModal.foundation('open');

}




</script>
{% endblock %}
